/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg {
  border:5px solid black;
}

img {
  border:10px solid orange;
  border-radius:10px;
}
